.container {
    max-width: 800px;
    margin: 0 auto;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fcd6e7;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #ff7eb9;
    padding: 40px;
    text-align: center;
}

h1, h2 {
    font-family: 'Comic Sans MS', sans-serif;
}

h1 {
    color: #fff;
}

h2 {
    color: #ff7eb9;
}

p {
    font-size: 18px;
}

section {
    padding: 40px;
}

.content-container {
    display: flex;
    flex-direction: column;
    margin: 10px 100px;
}

#about, #career-transition {
    background-color: #fce4ec;
    border-radius: 20px;
    margin-bottom: 40px;
}

#skills-showcase {
    background-color: #ffd3e7;
    border-radius: 20px;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    margin-bottom: 10px;
}

footer {
    background-color: #ff7eb9;
    padding: 40px;
    text-align: center;
}

a {
    color: #333;
    text-decoration: none;
    /* Adding visual cues for clickable links */
    cursor: pointer;
}

a:hover {
    color: #ff7eb9;
    text-decoration: underline;
    font-weight: bold; /* Bold on hover for emphasis */
}

.skill-link {
    color: #007bff; /* Change the color as desired */
    text-decoration: none;
    font-weight: bold;
}

.skill-link:hover {
    color: #0056b3; /* Change the hover color as desired */
}
